
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #e0e0e0;
    background: #121212;
    padding: 20px;
    line-height: 3;
}

#image-container {
    text-align: center;
    margin-top: 50px;
}

#myImage {
    width: 300px;
    height: auto;
    border: 2px solid #000;
    border-radius: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.icon {
    color: #0097a7;
}
header {
    background: #1e1e1e;
    color: #e0e0e0;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);


header {

    background-color: #333;
  
    color: #fff;
  
    padding: 20px 0;
  
    text-align: center;
  

    font-size: 2.5em;
  
  }
}

header h1 {
    font-size: 4.5em;
    margin-bottom: 10px;
    font-weight: 00;
    letter-spacing: 3px;
    color:#00bcd4;
    line-height: 1.5;
}


main {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 2em;
    color: #e0e0e0;
    margin-bottom: 10px;
    border-bottom: 2px solid #3e3e3e;
    padding-bottom: 5px;
}

section p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 10px;
    color: #b0b0b0;
}


button {
    background: #00bcd4;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s, transform 0.3s;
    margin: 5px;
}

button:hover {
    background: #0097a7;
}

button.drift-button:active {
    transform: translateX(200px);
}


.image-container {
    margin-top: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 10px; 
    width: 100%;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: left;
    border-color: #0097a7;
}






footer {
    background: #1e1e1e;
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.5em;
    }
#f 

    section p {
        font-size: 1em;
    }
}