body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}
header {
    background: #50b3a2;
    color: white;
    padding: 30px 0;
    text-align: center;
    border-bottom: #e8491d 3px solid;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
section {
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2, h3 {
    color: #50b3a2;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #50b3a2;
    color: white;
}
footer {
    background: #50b3a2;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
button {
    background-color: #50b3a2;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #45a094;
}
p {
    transition: color 0.3s ease;
}
p:hover {
    color: #50b3a2;
}
